# Node
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build/
dist/

# Editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# OS
*.swp
*.swo

# Logs
*.log

# Misc
coverage/

# React
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.DS_Store
frontend/coverage/
